HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### cursor ###
/.cursorrules
/.cursor
/.tasks

### temporary files ###
# /apps/backend/gopair-room-service/

/logs/
**/logs/
*.log
/perf/jmeter/
/fix_encoding.py
/.editorconfig
/perf/k6/join_async_test.js
/perf/scripts/bootstrap_users_and_tokens.js
/perf/scripts/prepare_message_tokens.js
/perf/README.md
/perf/tokens.txt
**/logs/
*.log
apps/frontend/nul
/sql/
/毕设/4.X_GoPair用户服务模块.md
/毕设/JMU毕设论文参考.md
/毕设/压测执行日志.md
/毕设/异步入房时序图.md
/毕设/异步入房时序图-PlantUML.md
/毕设/毕设.docx
/毕设/毕设开题报告.md
/毕设/第4章_系统总体架构设计.md
/毕设/第6章_系统测试与结果分析.md
/毕设/第6章_系统测试与结果分析-幂等与容量测试.md
/perflog/boundary_54540797_20260415_155637.txt
/perflog/report_20260426_233624.json
/perflog/summary_20260426_233355.json
/perflog/summary_20260426_233624.json
/perflog/test_20260426_232724.txt
/perflog/test_20260426_232927.txt
/perflog/test_20260426_233255.txt
/perflog/test_20260426_233307.txt
/perflog/test_20260426_233355.txt
/perflog/test_20260426_233624.txt
/MyTest/interface_analysis_user_forgotPassword.md
/MyTest/interface_analysis_user_sendCode.md
/MyTest/interface_analysis_userservice_login.md
/MyTest/interface_analysis_userservice_register.md
/k6_bin/k6-v1.7.1-windows-amd64/k6.exe
/data/openobserve/db/metadata.sqlite
/data/openobserve/db/metadata.sqlite-shm
/data/openobserve/db/metadata.sqlite-wal
