HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### cursor ###
/.cursorrules
/.cursor
/.tasks

### temporary files ###
# /apps/backend/gopair-room-service/

/logs/
**/logs/
*.log
/perf/jmeter/
/fix_encoding.py
/.editorconfig
/perf/k6/join_async_test.js
/perf/scripts/bootstrap_users_and_tokens.js
/perf/scripts/prepare_message_tokens.js
/perf/README.md
/perf/tokens.txt
**/logs/
*.log
apps/frontend/nul
/sql/
